{% extends 'base.html.twig' %}

{% block title %}WELCOM!
{% endblock %}

{% block body %}
	<main id="main">
	<!-- End #main -->

	<section id="gallery" class="gallery">

		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>Photos</h2>
				<p>Quelques photos des restaurants</p>
			</div>
		</div>

		<div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

			<div class="row g-0">

				<div class="col-lg-3 col-md-4">
					<div class="gallery-item">
						<a href="assets/img/gallery/ucad3.jpg" class="gallery-lightbox" data-gall="gallery-item">
							<img src="assets/img/gallery/ucad3.jpg" alt="" class="img-fluid">
						</a>
					</div>
				</div>

				<div class="col-lg-3 col-md-4">
					<div class="gallery-item">
						<a href="assets/img/gallery/ucad1.jpg" class="gallery-lightbox" data-gall="gallery-item">
							<img src="assets/img/gallery/ucad1.jpg" alt="" class="img-fluid">
						</a>
					</div>
				</div>

				<div class="col-lg-3 col-md-4">
					<div class="gallery-item">
						<a href="assets/img/gallery/ucad2.jpg" class="gallery-lightbox" data-gall="gallery-item">
							<img src="assets/img/gallery/ucad2.jpg" alt="" class="img-fluid">
						</a>
					</div>
				</div>

				<div class="col-lg-3 col-md-4">
					<div class="gallery-item">
						<a href="assets/img/gallery/ucad4.jpg" class="gallery-lightbox" data-gall="gallery-item">
							<img src="assets/img/gallery/ucad4.jpg" alt="" class="img-fluid">
						</a>
					</div>
				</div>

				<div class="col-lg-3 col-md-4">
					<div class="gallery-item">
						<a href="assets/img/gallery/ucad1.jpg" class="gallery-lightbox" data-gall="gallery-item">
							<img src="assets/img/gallery/ucad1.jpg" alt="" class="img-fluid">
						</a>
					</div>
				</div>

				<div class="col-lg-3 col-md-4">
					<div class="gallery-item">
						<a href="assets/img/gallery/ucad1.jpg" class="gallery-lightbox" data-gall="gallery-item">
							<img src="assets/img/gallery/ucad1.jpg" alt="" class="img-fluid">
						</a>
					</div>
				</div>

				<div class="col-lg-3 col-md-4">
					<div class="gallery-item">
						<a href="assets/img/gallery/ucad4.jpg" class="gallery-lightbox" data-gall="gallery-item">
							<img src="assets/img/gallery/ucad4.jpg" alt="" class="img-fluid">
						</a>
					</div>
				</div>

				<div class="col-lg-3 col-md-4">
					<div class="gallery-item">
						<a href="assets/img/gallery/ucad2.jpg" class="gallery-lightbox" data-gall="gallery-item">
							<img src="assets/img/gallery/ucad2.jpg" alt="" class="img-fluid">
						</a>
					</div>
				</div>

			</div>

		</div>
	</section>
	
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contactez Nous</p>
        </div>
      </div>

      <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.https://www.google.com/maps/place/CEDT+le+G15/@14.6985082,-17.4526897,17z/data=!3m1!4b1!4m5!3m4!1s0xec172ec2d65bd91:0x7d593ab7b832b18!8m2!3d14.698503!4d-17.450501" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Dakar, SENEGAL</p>
              </div>

              <div class="open-hours">
                <i class="bi bi-clock"></i>
                <h4>Open Hours:</h4>
                <p>
                  Monday-Sunday:<br>
                  8:00 AM - 24:00 PM
                </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+221 781794521</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="8" placeholder="Message" required></textarea>
              </div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
</main>
{% endblock %}
