{% extends 'base.html.twig' %}

{% block title %}New Restaurant{% endblock %}

{% block body %}
<section>
 <div class:"container-fluid mt-6 container-xl d-flex align-items-center justify-content-lg-between" style="margin-top:100px;">
  
    <h1>Ajouter des Restaurants</h1>
    <div class="container mt-6">
    
        {{ include('restaurant/_form.html.twig') }}
        <a href="{{path('restaurant_index') }}">
		<button class="btn btn-primary">Retour</button></a>
   </div>
    </div>
</section> 
{% endblock %}
